
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}

body {
    display: flex;/*to set the direction of the flex container's main axis. */
    justify-content: center;/*to align with equal spaces and widths*/
    align-items: center;
    min-height: 110vh;
    background: url("background\ 2.jpeg") no-repeat;
    background-size: cover;
    background-position: center; 
}


header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 10px 100px;
      display: flex;
      justify-content:space-between;
      align-items: center;
      z-index: 99;
}

.logo {
    font-size: 2em;
    color:#02070a;
    user-select:none;
}

.navigation a {
    position:relative;
    font-size: 1.2em;
    color: #0e0505e4;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 60px;
    height: 2px;
    background: #ffff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform.5s;

}
.navigation a:hover::after{
    transform: scaleX(1);
}
.navigation .btnLogin-popup {
    width: 100px;
    height:50px;
    background: transparent;
    border: 2px solid #ffff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #ffff;
    color: #162938;
}


.wrapper .form-box {
    width: 95%;
    padding: 10px;
}
  .form-box h2 {
    font-size: 3em;
    color:#162938;
    text-align: center;
    
  }
  .wrapper{
    position: relative; /*sets or returns the type of positioning method used for an element (static, relative, absolute or fixed).*/
    width: 400px;
    height: 440px;
    background: transparent;
    border:2px solid rgba(17, 6, 6, 0.577);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.wrapper h2{
    font-size: 30px;
    text-align: center;

}
.wrapper form{
    padding: 0 40px;
}
 
.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #162938;
    font-size: 2em;
    color:#f5f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 40px 0;
}

.input-box label {
    position: absolute;
    top:50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events:none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight:600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color :#162938;
    line-height: 40px;
}

.remember-forget {
    font-size: .9em;
    color:#162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forget a {
    color: #162938;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}
.btn {
width: 300px;
height: 45px;
background :#f5f4f4;
border: none;
border-radius: 8px;
cursor: pointer;
color: #191914d1;
font-weight:500;
}

.login-register{
font-size: 1.em;
color: #162938;
text-align: center;
font-weight: 500;
margin: 30px 0 20px;
}

.login-register p a {
    color:#162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

